<footer class="footer text-right">
    2017 © <a href="#" target="_blank">blog</a>.
</footer>
</div>


<!-- jQuery -->
<script src="/static/sb2/admin/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/sb2/admin/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/static/sb2/admin/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/static/sb2/admin/vendor/raphael/raphael.min.js"></script>
<!--<script src="/static/sb2/admin/vendor/morrisjs/morris.min.js"></script>
<script src="/static/sb2/admin/data/morris-data.js"></script>-->



<!-- Custom Theme JavaScript -->


</body>
</html>